@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .readmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .card-container {
    /* border: 1px solid rgb(73, 255, 1); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    width: 98%;
    

  }

  .card-img {
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 100%;
    width: 41%;
    margin-top : 1.5%;
    padding: 4%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    /* transform: translateY(-3px); */
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card:not(.highlight-card) {
      height: 100%;
      width: 100%;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }

  .together{
    /* border: 1px solid black; */
    margin-left: 5%;
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.79);;
  }

  .edit{
    border: 1px solid purple;
    width: 20%;
    height: auto;
  }

  .together2{
    /* border: 1px solid yellow; */
    height: 700px;
    background-image: url("https://images.wallpaperscraft.com/image/single/lake_sunset_trees_124674_3840x2400.jpg");
    /* Create a parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alice', serif;
  }

  .dformat{
    white-space: nowrap;
    overflow: hidden;
    max-width: 76px;
  }